html {
  box-sizing: border-box;
  width: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

:root {
  --main-bg-color: rgb(27, 222, 121);
}
body {
  font-family: 'Roboto', sans-serif;
  height: 2000px;
  width: 100%;
  background: rgb(235, 235, 235);
  display: flex;
  justify-content: center;
}
.main {
  position: relative;
  z-index: 1;
  width: 100%;
  height: fit-content;
  margin: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner {
  position: absolute;
  z-index: 0;
  top: 0;
  width: 100%;
  height: 500px;
  background: coral;
}
.profile {
  position: relative;
  z-index: 1;
  width: 940px;
  height: fit-content;
  background: #fff;
  display: flex;
  flex-direction: column;
}
.top-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
}
.bottom-social {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 85px;
  background: var(--main-bg-color);
}
.my-image {
  width: 40%;
  height: 350px;
  margin: 40px;
  background: url(./img/ProfilePicture-Claudiu.JPG) no-repeat center;
  background-size: cover;
}
.personal-info {
  padding: 40px 40px 40px 0px;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.hello {
  padding: 7px 15px;
  width: fit-content;
  color: #fff;
  background: var(--main-bg-color);
  position: relative;
  font-weight: 700;
}
.hello div {
  position: absolute;
  width: 0;
  height: 0;
  left: 10px;
  bottom: -10px;
  border: 5px solid transparent;
  border-top: 5px solid var(--main-bg-color);
  border-left: 5px solid var(--main-bg-color);
  
}
.name-profession {
  padding: 20px 0px;
  border-bottom: 1px solid rgb(220, 220, 220);
}
.name-profession p {
  font-size: 40px;
  font-weight: 300;
}
.name-profession .name {
  font-size: 40px;
  font-weight: 800;
}
.name-profession span {
  font-size: 20px;
}

.info {
  display: flex;

}
.info div:last-child {
  color: gray;
}
.info div ul {
  list-style-type: none;
  padding: 20px 20px 20px 0px;
}

.info ul li {
  padding: 5px 0px;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0px 20px;
}
.social-item i {
  font-size: 22px;
  color: #fff;

}

.bio {
  width: 940px;
  margin: 30px 0px 0px;
  padding: 0px 42px;
  font-size: 23px;
  text-align: center;
  line-height: 34px;
}
.pro-skills {
  padding-top: 70px;
  width: 100%;

}
.pro-skills h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 34px;
}